<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garena</title>
    <script src="/js/angular.min.js"></script>
</head>
<body ng-app>
    <form action="" ng-controlle name="myInput">
        <div>
            <input type="text" name="userName" ng-model="userName" placeholder="Tên Đăng Nhập"  minlength="5" required >
            <br>
            <span class="error" ng-show="myInput.userName.$error.required">Yêu cầu nhập tên đăng nhập</span>
            <br>
            <input type="password" name="password" ng-model="password" placeholder="Mật Khẩu"  minlength="5" required> 
            <br>
            <span class="error" ng-show="myInput.password.$error.required">Yêu cầu nhập mật khẩu</span>
            <br>
            <input type="email" name="eMail" ng-model="eMail" placeholder="Email" required>
            <br>
            <span class="error" ng-show="myInput.eMail.$error.required">Yêu cầu nhập email</span>
            <span class="error" ng-show="myInput.eMail.$error.email">Nhập sai định dạng</span>


            <br><br>
            <div id="footer">
                <input type="checkbox">
                Tôi đồng ý với điều khoản dịch vụ!
            </div>
        </div>
        <input style="color: #000; width: 100px; background-color: red; border: none;" type="submit" value="ĐĂNG KÍ">
        
    </form>
</body>
</html>